.glossary-item {
  border-bottom: 1px dotted #ccc;
  position: relative;
  font-size: 1rem;
  font-weight: 400;
}
.glossary-item > .glossary-card {
  display: none !important;
  bottom: 2rem;
  left: 0;
  width: 15rem;
  height: auto;
  background-color: transparent;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  text-align: start;
  border-radius: 0.25rem;
  line-height: normal;
  padding: 0.25rem;
}
.glossary-item:hover .glossary-card {
  display: block !important;
}
/* hoverが外れないようにするための領域 */
.glossary-item > .glossary-helper {
  position: absolute;
  top: -1rem;
  left: 0;
  display: none !important;
  background-color: rgba(0, 0, 0, 0);
  height: 2rem;
  width: 15rem;
}
.glossary-item:hover .glossary-helper {
  display: block !important;
}

.glossary-item > .glossary-card > .glossary-divider {
  display: none !important;
  border-color: #999;
  margin: 0.25rem !important;
  padding: 0 !important;
}

.glossary-item:hover .glossary-divider {
  display: block !important;
}
